{% extends 'base1.html' %}

{% load static %}

{% block meta %}
<title>Story 9</title>
{% endblock meta %}

{% block content %}

<div class="container option" style="width:300px; margin-top: 260px">
	{% if user.is_authenticated %}
    <a id="home" href="{% url 'Auth:nama' %}" type="button" class="btn btn-outline-primary btn-block">Home</a>
    <a id="logout" href="{% url 'Auth:logout' %}" type="button" class="btn btn-outline-danger btn-block">Log Out</a>
	{% else %}
	    <a id="login" href="{% url 'Auth:login' %}" type="button" class="btn btn-outline-success btn-block">Log In</a>
	    <a id="signup" href="{% url 'Auth:signup' %}" type="button" class="btn btn-outline-primary btn-block">Sign Up</a>
	{% endif %}
</div>

{% endblock %}

{% block script %}
{% endblock %}
