{% extends 'base1.html' %}

{% load static %}

{% block meta %}
{% endblock meta %}

{% block content %}

<div class="container dashboard-body">
    {% if user.is_authenticated %}
    <blockquote class="blockquote text-center">
        <p class="mb-0" id="usernameP" style="margin-top: 250px">Selamat datang, {{user.username}}!</p>
    </blockquote>
	<div class="container" style="width: 300px">
		<a id="logout" href="{% url 'Auth:logout' %}" type="button" class="btn btn-outline-danger btn-block">Log Out</a>
	</div>
    {% endif %}
</div>

{% endblock %}

{% block script %}
{% endblock %}
