{% extends 'base1.html' %}

{% load crispy_forms_tags %}
{% load static %}

{% block meta %}
{% endblock meta %}

{% block content %}

<div class="container signup-body" style="width: 600px; margin-top: 120px">

    <div class="signup-form">
        <form action="#" method="POST">
            {%csrf_token%}

            {{form|crispy}}
            <button id="signup-button" type="submit" class="btn btn-outline-success btn-block">Sign Up</button>
        </form>
        <small class="text-muted">
        sudah punya akun? <a class="ml-2" href="{% url 'Auth:login' %}">Login</a>
      </small>
    </div>


</div>

{% endblock %}

{% block script %}
{% endblock %}
