{% extends 'base.html' %}
{% load static %}

{% block meta %}

<title>PPW Story 8</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<style>
    body {
        background-color: #e2e2e2;
        margin: 0;
        font-family: "Book Antiqua";
    }
    .judul{
        text-align: center;
        margin-bottom: 50px;
    }
    .container-utama {
        margin-left: 10%;
        margin-right: 10%;
        margin-top: 0.5rem;
        padding: 3rem;
    }

    .search-box {
        margin-bottom: 2rem;
        margin-right: 3rem;
    }

    #keyword {
        width: 100%;
        height: 2rem;
        font-size: 18px;
        border-radius: 5px;
        padding-left: 20px;
        padding-right: 20px;
    }
    #keyword:hover {
        color: white;
        background-color: #525252;
    }

    .buku{
        display: flex;
        justify-content: center;
        width: 100%;
    }

    table {
        width: 100%;
    }

    #tablebody td, #tablehead th {
        padding: 8px;
    }

    #tablehead tr {
        background-color: #4f4f4f;
        color: white;
    }
    #tablebody{
        background-color: whitesmoke;
        text-align: center;
    }
    #tablebody tr:hover {background-color: #525252 ;color: white}




</style>
{% endblock meta %}

{% block content %}
<div class="container-utama">
    <div class="judul">
        <h1>Daftar Buku</h1>
    </div>
    <div class="search-box">
        <input id="keyword" type="text" placeholder="Judul Buku...">
    </div>
    <div class="buku">
        <table>
            <thead id="tablehead">
            <tr>
                <th>
                    No
                </th>
                <th>
                    Photo
                </th>
                <th>
                    Title
                </th>
            </tr>
            </thead>
            <tbody id="tablebody">

            </tbody>
        </table>
    </div>
</div>

{% endblock content %}
{% block script %}
<script type="text/javascript">
    $(document).ready(function () {
        var url_default = "/query?q=frozen 2";
        var list_buku = $(".buku > table > tbody");
        $.ajax({
            url: url_default,
            success: function (buku) {
                for (let i = 0; i < buku.items.length; i++) {
                    var number = i+1;
                    var title = buku.items[i].volumeInfo.title;
                    var thumbnail = buku.items[i].volumeInfo.imageLinks.smallThumbnail;
                    list_buku.append(`<tr><td>${number}</td><td><img src=${thumbnail}></td><td>${title}</td></tr>`);
                }
            }
        })
    });

    $("#keyword").keyup(function () {
        var keyword = $("#keyword").val();
        var url_buku = "/query?q=" + keyword;
        $.ajax({
            url: url_buku,
            success: function (buku) {
                var list_buku = $(".buku > table > tbody");
                list_buku.empty();
                for (let i = 0; i < buku.items.length; i++) {
                    var number = i+1;
                    var title = buku.items[i].volumeInfo.title;
                    var thumbnail = buku.items[i].volumeInfo.imageLinks.smallThumbnail;
                    list_buku.append(`<tr><td>${number}</td><td><img src=${thumbnail}></td><td>${title}</td><</tr>`);
                }
            }
        })
    });
</script>

{% endblock script %}
