{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>tes</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
{% endblock meta %}

{% block content %}

<div id="div1"></div>

<button>Button</button>
{% endblock content %}
{% block script %}
<script type="text/javascript">
$(document).ready(function(){
  $("button").click(function(){
    $.ajax({url: "http://universities.hipolabs.com/search?country=Indonesia", success: function(result){
        for (i = 0; i < 10; i++){
         $("#div1").append( result[i].country + ", " + result[i].web_pages[0] +"<br>" ) ;
        }
    }});
  });
});
</script>
{% endblock script %}
